* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: "Roboto", sans-serif;
  --bg-color: hsl(205, 100%, 15%);
  --tt-movie: white;
  --bg-btn-arrow: white;
  --tt-btn-arrow: black;
  --btn-plus: hsla(0, 0%, 100%, 0.2);
}

body {
  padding: 2rem 0;
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  background: var(--bg-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search {
  width: max-content;
  height: 4rem;
  display: flex;
  align-items: center;
  margin: 0 auto 3.2rem;
}

#input-search {
  height: 100%;
  padding: 1rem;
  border: none;
}

#input-search:focus-within {
  outline: 2px solid hsl(205, 29%, 42%);
}

button {
  border: none;
  cursor: pointer;
}

button.btn-add {
  width: 4rem;
  height: 100%;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 2rem;
  color: var(--bg-color);
  background: var(--btn-plus);
  transition: 0.3s ease;
}

button.btn-add:hover {
  background: hsla(0, 0%, 100%, 0.6);
}

.movies {
  width: 100%;
  padding: 2.4rem 0;
  display: flex;
  gap: 2.4rem;
  margin: auto;
  list-style: none;
  overflow-x: scroll;
}

.movies::-webkit-scrollbar {
  display: none;
}

.movie {
  position: relative;
  height: 46rem;
  box-shadow: 0 2px 10px -1px hsl(0, 0%, 0%, 0.3);
  transition: 0.2s ease;
}

.movie:hover {
  transform: scale(1.025);
  box-shadow: 0 2px 20px -1px hsl(0, 0%, 0%, 0.3);
}

.movie img {
  width: 30rem;
  height: 100%;
  object-fit: cover;
}

button.btn-remove {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  font-size: 2.4rem;
  color: var(--bg-color);
  background: transparent;
  transition: 0.3s ease;
}

button.btn-remove:hover {
  color: white;
  background: var(--bg-color);
}

@media (max-width: 1024px) {
  .movie {
    height: 36rem;
  }

  .movie img {
    width: 25rem;
  }
}

@media (max-width: 384px) {
  .movie {
    height: 32rem;
  }

  .movie img {
    width: 23rem;
  }
}
